html, body {
  height: 100%; }

body {
  padding-top: 54px; }

#main {
  min-height: 100%;
  background-color: #f5f5f5; }

.inactive {
  display: none; }

.s_active {
  display: block; }

.alertErr {
  background-color: #eb4d4b; }

.alertSuccess {
  background-color: #3ab04c;
  color: #f5f5f5; }

#alertContainer {
  margin: 0; }
  #alertContainer .alertExit:hover {
    cursor: pointer;
    color: #f5f5f5; }

#home-banner {
  background-size: 100% 100vh;
  min-height: 60vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 59%, rgba(0, 0, 0, 0.7) 100%), url(../img/home-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fefefe;
  display: flex;
  align-items: center; }
  #home-banner h1 {
    font-family: "Noticia Text", serif;
    color: #badc58; }
  #home-banner h3 {
    color: #6ab04c; }
  #home-banner img {
    max-height: 200px; }
  #home-banner .errTxt {
    color: red; }
  #home-banner .errInput {
    background-color: #eb4d4b; }

#saveContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  #saveContainer i {
    position: absolute;
    color: black;
    font-size: 16px;
    padding-left: 8px; }
  #saveContainer input[type=text] {
    font-weight: bold;
    padding-left: 20px; }

#saveFiltersOuter {
  margin: 4px 0; }

#saveFilters {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  #saveFilters .form-check {
    margin-left: 20px; }
  #saveFilters #filterAmount {
    background-color: transparent;
    color: #fefefe; }
    #saveFilters #filterAmount option {
      color: black; }

.home-body {
  padding: 24px 0; }
  .home-body h2 {
    color: #badc58; }

#home-benefits {
  background-color: #fefefe; }
  #home-benefits i {
    padding: 12px 0;
    font-size: 64px;
    color: #6ab04c; }

.itemFade {
  opacity: 0;
  transition: 0.25s ease-in; }
  .itemFade .appear {
    opacity: 1; }

.saverLinks {
  font-size: 12px; }

#scrollBut {
  display: none;
  border-radius: 50%;
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 0; }
  #scrollBut i {
    display: inline-block;
    font-size: 48px;
    transition: 0.25s; }
  #scrollBut i:hover {
    transform: rotate(360deg); }

.input-icon {
  position: relative; }
  .input-icon span {
    position: absolute;
    color: black;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    width: 36px;
    font-weight: bold; }
  .input-icon input {
    padding-left: 30px; }

#saverResultsBar {
  background-color: #3d3d3d;
  color: #fefefe;
  padding: 4px 0px; }

#blog-featuredBody {
  padding: 16px 0;
  background-color: #6ab04c; }
  #blog-featuredBody h2 {
    color: #fefefe;
    text-align: center; }

.saver-outerBody {
  margin-bottom: 32px; }

.s_viewType h4 {
  margin: 0px; }
.s_viewType span {
  font-size: 12px; }

.hr-noPad {
  margin-bottom: 0px; }

.blog-featured {
  background-color: #fefefe;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.1);
  min-height: 100%;
  transition: 0.25;
  border-radius: 8px;
  filter: brightness(100%); }
  .blog-featured .blog-featuredContent h3, .blog-featured .blog-featuredContent h5 {
    display: inline; }
  .blog-featured .itemFade {
    opacity: 0; }
  .blog-featured .badge {
    color: white;
    width: 100%; }
  .blog-featured .s_point_pro {
    display: block;
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    margin-bottom: 4px; }
  .blog-featured .s_point_con {
    display: block;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    margin-bottom: 4px; }

.tierSelector {
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 4px 0;
  color: white; }

.tierSelector:hover {
  cursor: pointer;
  background-color: black; }

.tier-s {
  background-color: #8e44ad; }

.tier-a {
  background-color: #3498db; }

.tier-b {
  background-color: #27ae60; }

.tier-c {
  background-color: #f39c12; }

#about {
  padding: 16px 0;
  min-height: 100%; }

.about-container {
  border: 2px solid #6ab04c;
  border-radius: 8px;
  padding: 16px; }

nav a {
  font-weight: bold; }
nav img {
  max-height: 25px; }

#nav-logo {
  font-family: "Noticia Text", serif;
  color: #badc58; }

footer {
  color: #fefefe;
  background: #343a40;
  padding: 10px 0px; }
  footer h5 {
    font-family: "Noticia Text", serif;
    color: #badc58;
    display: inline-block; }
  footer img {
    max-height: 40px; }

/*# sourceMappingURL=main.css.map */
