//Colors
$l_white: #fefefe;
$d_white: #f5f5f5;
$primary: #badc58;
$d-primary: #6ab04c;
$d-primary2: #3ab04c;
$red: #eb4d4b;
$secondary: #3d3d3d;


//$h_font: 'Noticia Text', serif;
$h_font: 'Lato', sans-serif;
$body_font: 'Roboto', sans-serif;


html,body{
    height:100%;
    font-family: $body_font;
    h1{
        font-family: $h_font;
        
    }
}

body{
    padding-top: 54px;
}


#main{
    min-height:100%;
    
    background-color:$d_white; 
}



.inactive{
    display:none;
}

.s_active{
    display:block;
}



.alertErr{
    background-color:$red;
    
    }
.alertSuccess{
    background-color:$d-primary2;
    color: $d_white;
    
    }

//Alert Container Styling
#alertContainer{
    margin:0;
        
    .alertExit{
        
    }
    
    .alertExit:hover{
        cursor:pointer;
        color:$d_white;
        
    }
    
 
}


//END

//WELCOME PAGE STYLING
#home-banner{
    background-size:100% 100vh;
    min-height: 60vh;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 59%, rgba(0, 0, 0, 0.7) 100%), url(../img/home-banner.jpg);
    background-size:cover;
    background-repeat:no-repeat;
     background-attachment: fixed;
    color: $l_white;
    
    display:flex;
    align-items: center;
    
    
    h1{
        font-family: $h-font;
        color:$primary;
        //bottom:100px;
    }
    
    h3{
        color:$d-primary;
    }
    
    img{
        max-height: 200px;
    }
    
    .errTxt{
        color:red;
        
    }
    
    //Styles the error input field of amount
    .errInput{
        
        background-color:$red;
        
    }
    
    
    
}



#saveContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
    //Center Icon
    i{
        position: absolute;
        color:black;
        font-size: 16px;
        padding-left:8px;
        
        //background-color:green;
    }
    
    input[type=text]{
        font-weight: bold;
        padding-left:20px;
        
        
    }
}

#disclaimer{
    font-size:12px;
    
}

#saveFiltersOuter{
    margin:4px 0;
}

//Elements within the sort section
#saveFilters{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
    select{
        cursor:pointer;
    }
    
    input[type=checkbox]{
        cursor:pointer;
        //opacity:0;
      //  position:absolute;
      //  height: 0;
      //  width: 0;
        
    }
    

    
    label{
        cursor:pointer;
    }
    
    
    .form-check{
        margin-left:20px;
    }
    
    #filterAmount{
        background-color:transparent;
        color:$l_white;
        
        
        
        option{
            color:black;
        }
    }
    
}

//END OF SORT SECTION




.home-body{
    padding:24px 0;
    //background-color:$d_white;
    
    h2{
        color:$primary; 
    }
  
}

#welcomeTxt{
    padding:8px 0;
}

#home-benefits{
    background-color:$l_white;
    i{
        padding:12px 0;
        font-size:64px;
        color:$d_primary;
    }
}

.itemFade{
    opacity:0;
    transition:0.25s ease-in;
    
    .appear{
        opacity:1;
    }
}

.saverLinks{
    font-size:12px;
}

.saver-pad{
    padding:0px 8px;
}

.saver-footer{
    //background-color:red;
    height:100%;
}


.saverNotes{
    margin-bottom: 48px;
}


.testI{
   // background-color:green;
    position:absolute;
    bottom:0;
    width:100%;
}






#scrollBut{
    display:none;
    border-radius:50%;
    //display:none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    box-shadow: 4px 4px 2px rgba(0,0,0,0.1); //Shadow
    padding:0;
    
    
    i{
        display:inline-block;
        font-size:48px;
        transition:0.25s;
    }
    
    i:hover{
        transform:rotate(360deg);
    }
    
    
}


.input-icon{
    position:relative;
    
    span{
        position:absolute;
        color:black;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        width:36px;
        font-weight:bold;
    }
    input{
        padding-left:30px;
    }
}

#saverResultsBar{
    background-color:$secondary;
    color:$l_white;
    padding:4px 0px;
}

//Purple background that stretches across screen
#blog-featuredBody{
    padding:16px 0;
    background-color:$d_primary;
    //background-image:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
    
      h2{
        color:$l_white;
        text-align: center;
          
    }

}


//START OF SAVER ITEMS
.saver-outerBody{
    margin-bottom:32px;
}

.s_viewType{
    h4{
       margin:0px; 
        
    }
    span{
        font-size:12px;
    }
}

//Remove default margin on BS 4
.hr-noPad{
    margin-bottom:0px;
    width:100%;
}



.blog-featured{
    
    background-color:$l-white;
    box-shadow: 8px 8px 2px rgba(0,0,0,0.1);
    position:relative;
    
 min-height:100%;
    transition:0.25;
   
   // border-bottom-left-radius: 8px;
   // border-bottom-right-radius: 8px;
    border-radius:8px;
    filter:brightness(100%);
    
    
    .blog-featuredContent{
       // display:flex;
       // padding:12px;
        
        //So we can put rank icon in
        h3, h5{
            display:inline;
        }
        
        
        
    }
    
    .itemFade{
        opacity:0;
    }
    
    .badge{
        color:white;
        width:100%;
    }
    
    .s_point_pro{
        display:block;
        color:green;
        border: 1px solid green;
        border-radius:4px;
        padding:4px;
        font-size:14px;
        margin-bottom:4px;
    }
    .s_point_con{
        display:block;
        color:red;
        border: 1px solid red;
        border-radius:4px;
        padding:4px;
        font-size:14px;
        margin-bottom:4px;
    }

}



//END OF SAVER ITEMS


//START Saver tier legend


.tierSelector{
    
    border-radius:8px;
    margin-bottom:8px;
    padding:4px 0;
    color:white;
    
   
}
.tierSelector:hover{
    cursor:pointer;
    //background-color:black;
    opacity:0.6;
    transition:0.25s;
    
}

 .tier-s{
        background-color:#8e44ad;
    }
.tier-a{
        background-color:#3498db;
    }
.tier-b{
        background-color:#27ae60;
    }
.tier-c{
        background-color:#f39c12;
    }

  
    .t-active{
        border:2px solid $l-white;
    }



#saverTiers{
    font-size:18px;
    background-color:#8e44ad;
    color:$l_white;
    
  
}


//END Saver tier legend-------------------------



//Tier stat section

.tier-stat-cont{
   // background-color:$l-white;
    border:2px solid $l-white;
    border-radius:4px;
    //padding:40px;
    
    i{
        font-size:32px;
        padding:12px;
    }
}




//END Tier stat section--------------------










////ABOUT SECTION

#about{
    
    min-height: 100%;
    font-size:18px;
}

.about-container{
    border: 2px solid $d-primary;
    border-radius:8px;
    padding:16px;
    
  
    
}

.sectionBody{
    padding:24px 0;
    
}

.contPad{
    padding:16px 0;
}



.benefitCont{
    border: solid 2px $d-primary;
    border-radius:8px;
    min-height:100%;
    padding:24px;
    
    i{
        font-size:42px;
        color: $l-white;
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px #888;
        padding: 0.6em 0.6em;
        margin:8px;
       
        background-color:$d-primary;
        
    }
    p{
        font-size:18px;
    }
    
}


////END ABOUT SECTION


//contact Form

#contact-form{
    font-size:18px;
}




/////END CONTACT FORM




////ABOUT US PAGE DECEMBER 2019

#abt-banner{
    
    //WELCOME PAGE STYLING

    background-size:100% 100vh;
    min-height: 60vh;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 59%, rgba(0, 0, 0, 0.7) 100%), url(../img/au_money_1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
     background-attachment: fixed;
    color: $l_white;
    
    display:flex;
    align-items: center;
    
    
    h1{
        font-family: $h-font;
        color:$primary;
        //bottom:100px;
    }
    
    img{
        max-height: 200px;
    }
    

}


#art-banner{
    
    //WELCOME PAGE STYLING

    background-size:100% 100vh;
    min-height: 30vh;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 59%, rgba(0, 0, 0, 0.7) 100%), url(../img/au_money_1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
     background-attachment: fixed;
    color: $l_white;
    
    display:flex;
    align-items: center;
    
    
    h1{
        font-family: $h-font;
        color:$primary;
        //bottom:100px;
    }
    
    img{
        max-height: 200px;
    }
    

}


nav{
    a{
        font-weight: bold;
    }
    img{
        max-height: 32px;
    }
}



#nav-logo{
    font-family: $h-font;
    color:$primary;
    
    //font-size:32px;
}




//FOOTER STYLING
footer{
    h5{
        font-family: $h_font;
        color:$primary;
        display:inline-block;
    }
    img{
        max-height:40px;
    }
    color:$l_white;
    background:#343a40;
    padding:10px 0px;
}

#policy-links{
    ul{
        
    }
    

}

#copyright-txt{
    font-size: 12px;
}